
<h1 style="text-align:center">About Us</h1>

<div class="aboutContainer">
	<%= image_tag("pilotpic.jpg", :alt => "picture of pilot", class: "founderImage") %>
	<p class="about1"> HitchAir connects travelers, or individuals interested in aviation, with pilots that are going to be flying anyways, with or without them. HitchAir focuses on 
	</p> 
	<p class="about2"> At Bike berlin all your needs are met. jansjnfjs jna sjdfnsj n jnasfdjnsfj njns jn jsn jsnddj fnajsdn jdns jn jnasfd jnsd jnk nsdjn fjsn jsnfjn sjsndf jsnf jnsdjnfdjns fnerue iojiejvdfk nvjndjnbvjb jngjnee nrgneio grdvnenv sdfd 
	</p>
</div>
