
<h1 style="text-align:center">About Us</h1>

<div class="aboutContainer">
	<%= image_tag("pilotpic.jpg", :alt => "picture of pilot", class: "founderImage") %>
	<p class="about1"> My name is Alex Tracy and I created this website as part of one of my projects to become a full-stack developer through careerfoundry.com. 
	</p> 
	<h4 class="aboutHeader2">The technical</h4>
	<p class="about2"> This website is built with ruby on rails. It uses node.js for adding comments on products, angularJS for the orders page, bootstrap for stying, jquery and a little vanillaJS for style manipulation, stripe api for payment, brakeman gem for security analysis, bootstrap-sass for most of the styling, 
	</p>
</div>
