<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_0Hl5J1xCFpEYC22l3W4dmVxYuYR9q"
    data-amount=<%= @product.price %>
    data-name=<%= @product.name %>
    data-description=<%= @product.description %>
    data-image=<%= @product.image_url %>
    data-locale="auto">
  </script>
</form>
