/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

* { box-sizing: border-box; }

input, textarea {
  max-width:100%;
}
.projectName {
	font-size: 1em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: grey;
	float: left;
}
.projectName:hover { 
	color: black !important; 
	background-color: #fff;
	text-decoration: none;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #333;
    background-color: transparent;
}
.nav li a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
ul.nav a:hover { 
  color: black !important; 
}
.navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
.navbar-collapse {
  background-color: #fff !important;
}
.navbar-inverse {
  border-bottom-color: transparent;
  font-weight: 600;
  background-color: #fff;
}
.navbar-toggle {
	  float:right;
  	border: none;
  	background: transparent !important;
  	display: inline-block;
  &:hover {
  }
.icon-bar:hover {
    width: 22px;
    transition: all 0.2s;
    background: black !important;
  }
  .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background: black !important;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
.navbar-toggle.collapsed {
	
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}
.appContainer {
  margin-top: 50px;
	margin-left: auto; 
	margin-right: auto;
	width: 80%;
	position: static;
	overflow:auto;
 	padding-bottom:150px;
}

