
    	<% if signed_in? %>
			<h2>Add a review:</h2>
			<%= form_for([@product, @product.comments.build]) do |f| %>
				<p>
					<%= f.label :body, "Comments" %><br>
					<%= f.text_area :body, class: "form-control" %>
				</p>
				<p><b>Give it a rating:</b>
					<div class="rating"></div>
				</p>
				<p>
					<%= f.submit "Submit", class: "btn btn-md btn-primary ", :style => "background-color: #2ecc71;" %>
				</p>
			<% end %>
		<% end %>
