<h1>Update Product</h1>

<%= render 'form' %>

<div class="btn btn-lg btn-default edit">
	<%= link_to 'Show', edit_product_path(@product), style: "text-decoration: none; float: right;" %>
</div>
<div class="btn btn-lg btn-default back">
	<%= link_to "Back", products_path, style: "text-decoration: none;" %>
</div>