<p id="notice"><%= notice %></p>

<h1 style="margin-bottom: 2%;">Listing Products</h1>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr style="padding-left: 10px">
      <th class="">Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>
 
  <tbody>
      <%= render @products %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
